name: Build and Publish Container Image

on:
  push:
    branches:
      - main  # Trigger on push to the main branch
    paths-ignore:
      - 'compose.yml'
      - 'README.md'
  pull_request:
    branches:
      - main  # Trigger on PR to the main branch
    paths-ignore:
      - 'compose.yml'
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    steps:
      - name: Lowercase repository owner
        shell: bash
        run: echo "LOWERCASE_REPO_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Identify Latest Release Tag of Tailscale GitHub Project
        shell: bash
        run: echo "VERSION="$(curl -sX GET "https://api.github.com/repos/tailscale/tailscale/releases/latest" | jq --raw-output '.tag_name' 2>/dev/null)"" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: tsidp
          tags: latest ${{ env.VERSION }}
          containerfiles: |
            ./Containerfile

      - name: Push To ghcr.io
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io/${{ env.LOWERCASE_REPO_OWNER }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-ghcr.outputs.registry-paths }}"